body {
    font-family: $font-custom;
    font-weight: $regular-font;
    @include x-rem(font-size, $default-text-size);
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    transition: color .3s ease-out;

    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent;
}

a, button {
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}
