.btn {
    position: relative;
    @include x-rem(font-size, $button-text-size);
    @include x-rem(line-height, $button-line-height);
    @include x-rem(padding, $button-padding);
    font-weight: $font-bold;
    cursor: pointer;
    text-transform: uppercase;
    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    outline: none;
    display: inline-block;
    vertical-align: middle;
}
